<h1>Form demo</h1>

<button (click)="reset()">Reset sections</button>
<button (click)="form.set('synergy')">Show synergy form</button>
<button (click)="form.set('material')">Show material form</button>
<button (click)="form.set('vanilla-html')">Show vanilla html form</button>
<button (click)="form.set('bootstrap')">Show bootstrap form</button>
<button (click)="form.set('davinci')">Show davinci form</button>

@switch (form()) {
  @case ('synergy') {
    <form>
      @for (section of sections(); track section.id) {
        <syn-select size="small" label="select" [value]="options[section.id % options.length]">
          @for (option of options; track option) {
            <syn-option [value]="option">
              {{ option }}
            </syn-option>
          }
        </syn-select>
        <syn-input label="input" size="small"></syn-input>
      }
    </form>
  }
  @case ('material') {
    <form>
      @for (section of sections(); track section.id) {
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select [value]="options[section.id % options.length]">
            @for (option of options; track option) {
              <mat-option [value]="option">
                {{ option }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Input</mat-label>
          <input matInput />
        </mat-form-field>
      }
    </form>
  }
  @case ('vanilla-html') {
    <form>
      @for (section of sections(); track section.id) {
        <label>
          select
          <select>
            @for (option of options; track option) {
              <option [value]="option" [selected]="option === options[section.id % options.length]">
                {{ option }}
              </option>
            }
          </select>
        </label>
        <label>
          input
          <input type="text" />
        </label>
      }
    </form>
  }
  @case ('bootstrap') {
    <form>
      @for (section of sections(); track section.id) {
        <div class="mb-3">
          <label for="select-{{ section.id }}" class="form-label">Select</label>
          <select class="form-select" id="select-{{ section.id }}">
            @for (option of options; track option) {
              <option [value]="option" [selected]="option === options[section.id % options.length]">
                {{ option }}
              </option>
            }
          </select>
        </div>
        <div class="mb-3">
          <label for="input-{{ section.id }}" class="form-label">Input</label>
          <input type="text" class="form-control" id="input-{{ section.id }}" />
        </div>
      }
    </form>
  }
  @case ('davinci') {
    <form>
      @for (section of sections(); track section.id) {
        <davinci-drop-down label="Select" [value]="options[section.id % options.length]">
          @for (option of options; track option) {
            <davinci-option [value]="option">
              {{ option }}
            </davinci-option>
          }
        </davinci-drop-down>
        <davinci-text-field label="Input"></davinci-text-field>
      }
    </form>
  }
}
